*{
    margin: 0;
    padding: 0;
}

.header{
    border: 1px solid;
    padding: 10px;
    border-radius: 2px;
    background-color: blanchedalmond;
    align-items: center;
    text-align: center;
}

.flex{
    display: flex;
}